body {
  padding: 2em;
}

.active-yellow {
  padding: 1.5em;
  background-color: #ffff00;
}

.active-green {
  padding: 2em;
  background-color: #afff00;
}

.active-aqua {
  padding: 2em;
  background-color: #1ee2a6;
}

.active-blue {
  padding: 2em;
  background-color: #01b6ad;
}

.active-purple {
  padding: 2em;
  background-color: #9c42d1;
}

.active-pink {
  padding: 2em;
  background-color: #d126a9;
}
/* =Grid Code*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

 .column, .columns {
	float: left;
	min-height: 1px;
	padding: 0 15px; /* 15px to the gutt */
	position: relative;
}

.collapse .column, .collapse .columns {
	padding: 0;
}

.row {
	max-width: 100%;
	min-width: 0;
	width: auto;

	margin: 0 auto;
}

[class*="column"] .row {
	margin: 0 -15px; /* -15px to remove the gutt(padding) */
}

.collapse [class*="columns"] .row {
	margin: 0;
}

.row .one {
  width: 8.33%;
}

.row .two {
  width: 16.66%;
}

.row .three {
  width: 25%;
}

.row .four {
  width: 33.33%;
}

.row .five {
  width: 41.66%
}

.row .six {
  width: 50%;
}

.row .seven {
  width: 58.33%;
}

.row .eight {
  width: 66.66%;
}

.row .nine {
  width: 75%;
}

.row .ten {
  width: 83.33%;
}

.row .eleven {
  width: 91.66%;
}

.row .twelve {
  width: 100%;
}

.row:before, .row:after, clearfix:before, .clearfix:after {
  content: ""; display: table;
}

.row:after,.clearfix:after {
  clear: both;
}

.row, .clearfix {
  zoom: 1;
}

.snap-left {
  margin-left: -15px;
  }

.snap-right {
  margin-right: -15px;
  }    /* to the Gutt */

.wrapper {
	max-width: 100%;
	width: 1000px;
	margin: 0 auto;
}


/* ajust for mobile devices */
@media only screen and (max-width: 700px) {

  .row {
    width: auto;
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .column,  .columns {
    width: auto !important;
    float: none;
  }

  .column:last-child, .columns:last-child {
    float: none;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: none;
  }

  .column:before, .columns:before, column:after, .columns:after {
    content: "";
    display: table;
  }
  .column:after, .columns:after {
    clear: both;
  }

}
